@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Irene Florentina";
  src:
    url("/IreneFlorentina-Regular.woff2") format("woff2"),
    url("/IreneFlorentina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

@layer base {
  body {
    @apply bg-tSecondary antialiased pb-5;
  }
  main {
    @apply font-lexend font-light ;
  }

  p {
    @apply text-base md:text-lg lg:text-xl 
  }

  div {
    @apply text-base md:text-lg lg:text-xl
  }

  h1 {
    @apply font-calistoga my-3 md:my-5 lg:my-8 text-4xl leading-loose text-tBlack transition-transform md:text-5xl lg:text-7xl;
  }

  h2 {
    @apply font-calistoga text-2xl leading-loose text-tBlack transition-transform md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply font-calistoga text-xl leading-loose text-tBlack transition-transform md:text-3xl lg:text-7xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .box {
    @apply container m-auto rounded-lg border border-tTransition bg-tWhite p-4 text-left shadow-sm shadow-tBlack md:p-5;
  }

  .button {
    @apply whiteHeader m-1 size-fit rounded-lg border border-tBlack/30 bg-tSecondary px-3 py-1 text-center font-calistoga text-lg tracking-wide shadow-sm shadow-tBlack hover:shadow-md hover:shadow-tBlack md:text-xl md:hover:skew-y-1;
  }

  .page {
    @apply container relative m-auto size-auto flex-col content-center items-center justify-items-center rounded-lg border border-tTransition bg-tWhite p-5 text-center shadow-sm shadow-tBlack;
  }

  .section {
    @apply container relative content-center items-center justify-items-start;
  }

  .main {
    @apply flex h-dvh w-dvw flex-col items-center text-pretty p-2 text-tBlack *:mt-4 md:p-8;
  }

  .colour {
    @apply flex cursor-pointer flex-row gap-1 border border-tTransition/20 p-1 font-lexend text-sm font-medium shadow-sm shadow-tBlack *:min-h-8 *:place-content-center *:items-center  hover:shadow-inner hover:shadow-tBlack md:gap-4 md:text-xl md:*:min-h-12;
  }

  .quotebox-wrapper {
    @apply flex size-fit flex-row place-items-center justify-evenly place-self-center overscroll-contain rounded-lg  rounded-e-full rounded-s-full border-l-4 border-r-4 border-tGrey/30 bg-tTransition p-2 shadow-xl shadow-tBlack/20;
  }

  .quotebox-icon {
    @apply size-auto rounded-full border border-tGrey/50 bg-tSecondary p-0.5 text-3xl text-tGrey/70 shadow-inner shadow-tGrey/80 md:text-4xl;
  }

  .quotebox {
    @apply flex flex-grow place-items-center justify-evenly px-3 text-center font-calistoga text-lg md:text-2xl lg:text-3xl;
  }

  .reviewbox {
    @apply m-1 rounded-lg border-e border-s border-tGrey/30  bg-tWhite/90 p-3 shadow-xl shadow-tBlack/20;
  }

  .titlebox-wrapper {
    @apply rounded-lg border-e border-s border-tGrey/30 bg-tWhite p-2 bg-blend-hue shadow-xl shadow-tBlack/20;
  }

  .titlebox-icon {
    @apply rounded-full border-2 border-tGrey bg-tSecondary p-0.5 text-4xl text-tBlack shadow-inner shadow-tGrey/80;
  }

  .titlebox {
    @apply flex flex-grow place-items-center justify-evenly p-2 px-1 text-center font-calistoga text-sm max-md:text-base lg:text-xl;
  }

  .listbox {
    @apply rounded-lg border-e border-s border-tGrey/30 p-2  shadow-xl shadow-tBlack/20;
  }

  .sidebar {
    @apply fixed left-1 right-1 top-1 z-10 flex w-fit border-spacing-x-1 flex-row justify-evenly rounded-md border bg-tWhite pb-2 pt-2 opacity-10
        shadow-md shadow-tPrimary

         -translate-y-[80%] max-md:hover:translate-y-0  lg:-translate-x-[90%] transform transition-transform duration-300 hover:opacity-100 lg:hover:translate-x-0

        max-lg:w-dvw lg:bottom-auto lg:left-2 lg:right-auto lg:top-2/4 lg:mx-auto lg:min-w-fit lg:-translate-y-2/4 lg:transform lg:flex-col lg:gap-5 
        lg:p-3 lg:pb-5

		lg:pt-5
        
        dark:border-tPrimary dark:bg-tPrimary dark:shadow-tSecondary;
  }

  .sidebar-icon {
    @apply relative z-10 box-border flex h-max w-max min-w-max cursor-pointer items-center justify-center
    rounded-xl border border-solid border-tWhite

    p-2 transition-all duration-200 ease-linear
    hover:rounded-lg hover:border-tTransition hover:shadow-md hover:shadow-tBlack

    lg:m-1

    dark:border-tPrimary dark:hover:border-tSecondary dark:hover:shadow-tSecondary;
  }

  .sidebar-tooltip {
    @apply absolute top-11 z-10 m-2 size-auto min-w-max origin-top scale-0 rounded-md bg-tPrimary/95 p-2 font-lexend font-light
    text-tWhite
    shadow-md transition-all duration-100

    lg:left-14 lg:top-auto lg:origin-left

    dark:border-tPrimary dark:bg-tPrimary dark:font-light dark:shadow-sm dark:shadow-tSecondary;
  }

  .swiper-tooltip {
    @apply absolute  z-10 m-2 size-auto min-w-max origin-top scale-0 rounded-md bg-tPrimary/95 p-2 font-lexend font-light
    text-tWhite
    shadow-md transition-all duration-100

    top-auto lg:origin-left

    dark:border-tPrimary dark:bg-tPrimary dark:font-light dark:shadow-sm dark:shadow-tSecondary;
  }

  .swiperwrapper {
    @apply -z-0 flex rounded-md bg-tWhite pb-2 
       
        
        /* md:bottom-5 md:right-7 md:-translate-y-1 md:transform lg:top-7 */
        
        dark:border-tSecondary dark:bg-tSecondary dark:bg-opacity-40 dark:shadow-tPrimary;
  }

  .myswiper {
    @apply size-auto rounded-md bg-tWhite 
        dark:bg-transparent;
  }

  .swiperslide {
    @apply flex size-auto flex-col overflow-y-auto rounded-md text-center
        
        /* lg:mx-12 lg:px-7 */

        dark:bg-transparent;
  }

    .slideBody {
    @apply mt-3 justify-center items-center
        md:text-xl size-auto bg-tWhite p-2 px-1 md:p-5 text-base leading-normal text-tBlack

        dark:border-tSecondary dark:bg-tPrimary dark:bg-opacity-70 dark:text-tWhite dark:shadow-tPrimary;
  }

  .slideHeader {
    @apply inline-flex mx-3 dark:bg-tPrimary dark:border-tSecondary dark:shadow-tPrimary dark:bg-opacity-70 w-fit self-center  rounded-xl  p-3 shadow-sm shadow-tBlack md:p-6  dark:text-tWhite
  }

  .slideTitle {
    @apply p-3 ml-3 text-2xl md:text-5xl lg:text-7xl text-tBlack md:pt-4 flex
        dark:text-tWhite;
  }


}

.blackHeader {
  color: theme("colors.tBlack");
  text-shadow:
    -0.5px 0 theme("colors.tWhite"),
    0 0.5px theme("colors.tWhite"),
    0.5px 0 theme("colors.tWhite"),
    0 -0.5px theme("colors.tWhite");
}

.whiteHeader {
  color: theme("colors.tWhite");
  text-shadow:
    -0.5px 0 theme("colors.tBlack"),
    0 0.5px theme("colors.tBlack"),
    0.5px 0 theme("colors.tBlack"),
    0 -0.5px theme("colors.tBlack");
}

.embossed {
  color: theme("colors.tTransition");
  text-shadow: 1px -1px theme("colors.tBlack");
}


.reviewStar {
  color: theme("colors.tWhite");
  text-shadow: 2px -2px theme("colors.tBlack");
}

html {
  scroll-behavior: smooth;
}
