@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */

@layer base {
  body {
    @apply bg-tSecondary antialiased;
  }
  main {
    @apply font-lexend font-light;
  }

  h1 {
    @apply font-calistoga text-3xl leading-loose text-tBlack transition-transform md:text-5xl;
  }

  h2 {
    @apply font-calistoga text-2xl leading-loose text-tBlack transition-transform md:text-4xl;
  }

  h3 {
    @apply font-calistoga text-xl leading-loose text-tBlack transition-transform md:text-3xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .box {
    @apply container m-auto rounded-lg border border-tTransition bg-tWhite p-4 md:p-5 text-left shadow-sm shadow-tBlack;
  }

  .button {
    @apply whiteHeader m-1 size-fit rounded-lg border border-tBlack/30 bg-tSecondary py-1 text-center font-calistoga text-lg tracking-wide shadow-sm shadow-tBlack hover:shadow-md hover:shadow-tBlack px-3 md:text-xl md:hover:skew-y-1;
  }

  .page {
    @apply container relative m-auto size-auto flex-col content-center items-center justify-items-center rounded-lg border border-tTransition bg-tWhite p-5 text-center shadow-sm shadow-tBlack;
  }

  .section {
    @apply container relative content-center items-center justify-items-start;
  }

  .main {
    @apply flex min-h-screen flex-col items-center text-pretty p-2 text-tBlack *:mt-4 md:p-8;
  }

  .colour {
    @apply flex cursor-pointer flex-row gap-1 border border-tTransition/20 p-1 font-lexend text-sm font-medium shadow-sm shadow-tBlack *:min-h-8 *:place-content-center *:items-center  hover:shadow-inner hover:shadow-tBlack md:text-xl md:*:min-h-12 md:gap-4;
  }

  .quotebox {
    @apply rounded-lg border-2 border-tGrey bg-tTransition p-2  shadow-xl shadow-tBlack/20;
  }

  .sidebar {
    @apply fixed left-1 max-lg:w-dvw right-1 top-1 z-10 flex w-fit border-spacing-x-1 flex-row justify-evenly rounded-md border bg-tWhite pb-2 pt-2 
        opacity-10 shadow-md shadow-tPrimary

        hover:opacity-100 lg:bottom-auto lg:left-7 lg:right-auto lg:top-2/4 lg:mx-auto lg:min-w-fit lg:-translate-y-2/4 lg:transform lg:flex-col lg:gap-5 
        lg:p-3 lg:pb-5

		lg:pt-5
        
        dark:border-tPrimary dark:bg-tPrimary dark:shadow-tSecondary;
  }

  .sidebar-icon {
    @apply relative z-10 box-border flex h-max w-max min-w-max cursor-pointer items-center justify-center
    rounded-xl border border-solid border-tWhite

    p-2 transition-all duration-200 ease-linear
    hover:rounded-lg hover:border-tTransition hover:shadow-md hover:shadow-tBlack

    lg:m-1

    dark:border-tPrimary dark:hover:border-tSecondary dark:hover:shadow-tSecondary;
  }

  .sidebar-tooltip {
    @apply absolute top-11 z-10 m-2 size-auto min-w-max origin-top scale-0 rounded-md bg-tPrimary/95 p-2 font-lexend font-light
    text-tWhite
    shadow-md transition-all duration-100

    lg:left-14 lg:top-auto lg:origin-left

    dark:border-tPrimary dark:bg-tPrimary dark:font-light dark:shadow-sm dark:shadow-tSecondary;
  }

    .swiper-tooltip {
    @apply absolute top-11 z-10 m-2 size-auto min-w-max origin-top scale-0 rounded-md bg-tPrimary/95 p-2 font-lexend font-light
    text-tWhite
    shadow-md transition-all duration-100

    lg:left-14 lg:top-auto lg:origin-left

    dark:border-tPrimary dark:bg-tPrimary dark:font-light dark:shadow-sm dark:shadow-tSecondary;
  }

  .swiperwrapper {
    @apply sticky bottom-1 left-2 right-2 top-24 -z-0 flex size-auto  justify-evenly rounded-md bg-tWhite px-2 pb-2 shadow-md shadow-tSecondary
       
        
        md:bottom-5 md:right-7 md:-translate-y-1 md:transform lg:left-40 lg:top-7
        
        dark:border-tSecondary dark:bg-tSecondary dark:bg-opacity-40 dark:shadow-tPrimary;
  }

  .myswiper {
    @apply fixed left-1 right-1 top-1 flex size-auto justify-evenly rounded-md bg-tWhite px-2 
        dark:bg-transparent;
  }

  .swiperslide {
    @apply fixed left-1 right-1 top-1 md:mx-3 md:my-2 flex size-auto  flex-col items-center justify-start justify-items-center overflow-y-auto rounded-md px-2 py-7 pb-10 text-center  
        
        lg:mx-12 lg:px-7

        dark:bg-transparent;
  }

  .slideTitle {
    @apply self-center p-3 md:pt-4 text-xl text-tBlack
        lg:p-8 lg:text-7xl
        dark:text-tWhite;
  }

  .slideBody {
    @apply mt-3 bg-tWhite p-5 text-base leading-normal text-tBlack size-auto
        lg:text-xl
        dark:border-tSecondary dark:bg-tPrimary dark:bg-opacity-70 dark:text-tWhite dark:shadow-tPrimary;
  }
}

.blackHeader {
  color: theme("colors.tBlack");
  text-shadow:
    -0.5px 0 theme("colors.tWhite"),
    0 0.5px theme("colors.tWhite"),
    0.5px 0 theme("colors.tWhite"),
    0 -0.5px theme("colors.tWhite");
}

.whiteHeader {
  color: theme("colors.tWhite");
  text-shadow:
    -0.5px 0 theme("colors.tBlack"),
    0 0.5px theme("colors.tBlack"),
    0.5px 0 theme("colors.tBlack"),
    0 -0.5px theme("colors.tBlack");
}

.embossed {
  color: theme("colors.tTransition");
  text-shadow: 1px -1px theme("colors.tBlack");
}

html {
  scroll-behavior: smooth;
}
